h1 {
	font-size: 10em;
	color: white;
}

h2 {
	font-size: 2em;
	color: white;
}

#waywo {
	text-align: center;
	padding: 0 0 100px 0;
}

.form-control {
	width: 200em;
}

textarea {
  	-moz-border-radius: 15px;
 	border-radius: 15px;
    border:solid 1px black;
    padding:5px;
    text-align: center;
    font-size: 1.5em;
}

body {
	background: rgb(36, 223, 201);
}

/*waywo feeds*/

.discusBox {
  border: #333 solid 1px;
  height: 120px;
  width: 720px;
  position: relative;
  background-color: #fff;
}

.discusTitle {
  line-height: 40px;
  padding-left: 6px;
  position: absolute;
  top: 0;
  left: 120px;
  width: 600px;
  vertical-align: middle;
}

.discusTitle h3 {
  font-size: 18px;
  font-weight: bold;
}

.discusBrief {
  height: 60px;
  width: 600px;
  position: absolute;
  top: 40px;
  left: 120px;
  overflow: hidden;
}
.discusBrief p { padding-left: 6px; }

.discusMeta {
  height: 20px;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 120px;
  font-size: 11px;
  line-height: 20px;
  vertical-align: middle;
}

.discusMetaPostedOn, .discusBy {
  display: inline;
  float: left;
}

.discusMetaPostedOn {
  padding-left: 6px;
  margin-right: 24px;
}
.discusMetaPostedOn p { margin-bottom: 0;}

.discusBy { }

.discusLink {
  float: right;
  background-color: #2fb7e0; 
  width: 120px;
  text-align: center;
}

.discusLink a{
  color: #fff;
  text-decoration: none;
  display: block;
}



/* footer */

footer {
	padding-top: 100px;
	color: white;
	text-align: center;
	}

ul li{
  display: inline;
  font: white;
}

#inc {
	text-align: center;
}




